<div class="container_small-card">
    <div class="container_small-card-content">

         <div class="card-left-content">
            
            <div class="small-card_photo">
                <img src="{{photoCover}}" 
                alt="" 
                srcset="">
            </div>
        
            <div class="small-card_title">
                <h1><a href="#">{{cardTitle}}</a></h1>
            </div>
        </div>

        <div class="luffy-img"> 
            <img src="/luffy.png" (click)="openDetails()" alt="Luffy">
        </div>
    
        <app-tech-detail
            *ngIf="isModalOpen" 
            [techDetails]="techs"
            (closeModalEvent)="isModalOpen = false">
        </app-tech-detail>

    </div>
   
</div>
