*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Segoe UI';
}

body {
    background-color: #000000; /* Fundo preto sólido */
    background-image: linear-gradient(
        to bottom, 
        rgba(34, 1, 52, 0.4) 0%,   /* Roxo escuro com transparência */
        rgba(45, 31, 62, 0.6) 25%,  /* Roxo médio com mais visibilidade */
        rgba(8, 21, 12, 0.6) 75%,  /* Verde musgo com visibilidade */
        rgba(5, 16, 7, 0.4) 100%  /* Verde escuro com transparência */
    );
    background-attachment: fixed; /* Isso faz com que o gradiente não role com o conteúdo */
}

a{
    text-decoration: none;
}